<app-loading *ngIf="loadingArtist"></app-loading>


<div class="row animated fadeIn cabecera" *ngIf="!loadingArtist">
    <div class="col-lg-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>

    <div class="col-10 col-sm-10 col-lg-8">
        <h3 class="mb-3">{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">   
                <button type="button" class="btn btn-outline-success btn-sm">
                    Ir a la página del artista
                </button>
            </a>
        </p>
    </div>

    <div class="col-lg-2 text-right">
        <button routerLink="/playlist" class="btn btn-outline-danger btn-sm">
            Volver
        </button>
    </div>
</div>

<div class="row mt-5">
    <div class="col">

        <table class="table table-dark">
            <thead>
                <tr>
                    <th class="hidden-mov">Foto</th>
                    <th class="hidden-mov">Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td class="hidden-mov">
                        <img [src]="track.album.images | noimage" class="img-thumb" alt="track.album.name">
                    </td>
                    <td class="hidden-mov">{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <!-- <audio [src]="track.preview_url" controls></audio> -->
                        <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>