/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    background: url(assets/img/electric-guitars.svg);
    background-size: 100%;
    color: white !important;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 100%;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}
/* Cabecera Pagina Artistas */

.cabecera{
    flex-wrap: nowrap;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.table{
    color: white;
}

.close{
    position: absolute;
    right: 5px;
}

.deleted{
    display: none !important;
}
.plus{
    color:#155724;
}
@media (max-width: 960px){
    
    .cabecera div:first-child{
        display:none;
    }
}

@media (max-width: 768px){
    
    .hidden-mov{
        display: none;
    }
    body{
        background-color: black;
        background-image: none;
    }
    .table {
        font-size: 10px;
    }
    iframe{
        width: 250px;
    }
}
